{% extends "base.html" %}
{% block temp %}



  <!-- CONTACT PAGE INFO -->
  <div class="contact-page">
   <h2>Contact Page</h2>

   <h3>Phone Numbers</h3>
    <p>1(868) 456-7890</p>

   <h3>Email Address</h3>
    <p>foodrefinedtt@gmail.com</p>

   <h3>Social Media</h3>
    <p>FoodRefinedTT</p>

    <img src="letsgetsocial.png" alt="Lets get social!">

    

    
    
  </div>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

{% endblock %}