<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Food Refined TT</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  
 <!--      <div class = "header"> </h1>Food RefinedTT</h1> </div>-->
</head>

<body>
   <link href="//fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css" />
  <!--
  <div class = "header">
    </h1>Food RefinedTT</h1>
  </div> -->

  <!--<A HREF="pages/about.html">About this site</A> -->
  <div class="topnav"> 

    <h1>Food Refined TT</h1>
    <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="contact.html">Contact Us </a></li>
    <li><a href="shelters.html">Shelters</a></li>
    <li><a href="FAQ.html">FAQ</a></li>
    <li><a href="login.html">Login/Sign Up</a></li>
    <input type="text" placeholder="Search..">
    </ul>
  </div>

  <!-- FAQ PAGE INFO -->
  <div class="FAQ-page">
   <h3>Frequently Asked Questions</h3>
    <div class = "q1">
    <h4>What is the purpose of FoodRefinedTT ? </h4>
      <i>FoodRefinedTT is a new application that hopes to lessen and mitigate the food waste problem in Trinidad and Tobago. FoodRefinedTT partners up with restaurants, supermarkets and shelters. Rather than throwing out the excess food, it will go to persons that really need and will benefit from it. The restaurants or supermarkets will donate extra food after a day's work or produce before expiration.</i>
    </div>
    
    <div class = "q2">
    <h4>Does FoodRefinedTT deliver/collect donations ? </h4>
      <i >FoodRefinedTT is a non-profit organization that delivers donations to shelters and/or homes and also collects donations given from distributors. </i>
    </div>
    
    
    <div class = "q3">
    <h4>Who is responsible if someone falls ill from the food </h4>
     <i>Both parties are responsible in the event that someone falls ill as both the supermarket/ restaurants and homes/shelter need to sign an agreement with acknowledging they are following the food safety protocols and guidelines. Restaurants/ supermarkets need to donate foods that are fit for persons to eat and the shelter and homes are responsible for the condition and way the food is kept, distributed and treated. </i>
    </div>

    <div class = "q3">
   <h4>How can i donate ? </h4>
    <i> Distributors can donate by signing up and access the donation page where all the information would be there to help the process.</i>
    </div>
    
   <!-- <img src="donation.jpg" alt="donation" width = "250" height="250">
    <img src="food waste.png" alt="foodwaste" width="250" height="250" > -->
    
  </div>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

</html>